.active{
   
    background-color: red;
    }
    .nav-link{
        display: inline-block;
        border-radius: 10px;
        
    }
    .links li a{
        text-decoration: none;
        color: red;
    }